spring:
  application:
    name: dbEstudos
  datasource:
    url: jdbc:postgresql://localhost:5434/estudos
    username: postgres
    password: postgres
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
logging:
  file:
    name: EstudoAPI.log
  logback:
    rollingpolicy:
      max-history: 30
      max-file-size: 10MB
      total-size-cap: 1GB
  level:
    root: info